.tvimg{
    width:35px;
    cursor: pointer;
}
#tickimg{
    cursor: pointer;
}
.viewBtn{
    color:white;
    background-color: #109380;
    border:none;
    padding:6px;
    cursor: pointer;
    border-radius: 10px;
}
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 350px;  /* change this to whatever you want */
    width: auto;
}
#loader2{
    height:100vh ;
    width:100vw;
    /* text-align: center; */
    background-color: rgba(255 , 255 , 255 ,0.5);
    position: absolute;
    z-index: 2;
}

#spinner2{
    position: relative;
    top:35%;
    left:35%
}